/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-c4fee43b29c0d6cd8279.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-ab7d21e8b7a5d809c42c.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-a3939f8cd5424e87d46a.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-08-13T02-57-17-0483.json
/cmake-build-debug/.cmake/api/v1/reply/target-ImageEditing-Debug-7ca407fc89f6a557affd.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-230eadfadbd316ec1251.json
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.o
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.o
/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/commands/BlurCommand.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/commands/BrightenCommand.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/commands/ColorBoostCommand.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/commands/CoolCommand.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/commands/DramaticCommand.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/commands/DramaticCoolCommand.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/commands/DramaticWarmCommand.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/commands/GreyscaleCommand.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/commands/LoadCommand.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/commands/LomoCommand.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/commands/MagentaCommand.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/commands/NegativeCommand.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/commands/NightVisionCommand.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/commands/PosterizeCommand.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/commands/SaturationCommand.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/commands/SaveCommand.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/commands/SepiaCommand.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/commands/SharpenCommand.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/commands/SilvertoneCommand.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/commands/SwapCommand.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/commands/WarmCommand.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/io/ImageLoader.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/io/ImageSaver.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/controller/TextController.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/model/transformation/saturation/RetroTransformation.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/model/transformation/BrightenTransformation.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/model/transformation/PosterizeTransformation.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/model/transformation/RetroTransformation.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/model/ImageDataBaseImpl.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/model/ImageImpl.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/model/Pixel.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/view/TextView.cpp.o
/cmake-build-debug/CMakeFiles/ImageEditing.dir/main.cpp.o
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/ImageEditing
moc_*.cpp
ui_*.h
qrc_*.cpp
*.pro.user

